.DS_Store
*.sqlite
*.db
tags
.direnv/

# Editor
# ------
\#*\#
*.swp

# Python:
# -------
.venv/
.hypothesis/
.cache

# Byte-compiled / optimised / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so
